name: Django CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: RojerGS/python-black-check@master
        with:
          line-length: '81'
          path: '.'
          include: '/*.py'
          exclude: '(/*.html|/*.mo|/*.po|/*.png|/*.rst)'
